.button{
    border-radius: 10px;
    background-color: rgb(222, 93, 202);
}
.h2{
    font-size: 2rem;
    color: blueviolet;
    font-family: cursive;
}
.image{
    border-radius: 15px;
    /*box-shadow:5px 2px 2px 5px;*/
    color: brown;
}
.card{
    background-color: white;
    list-style: none;
    border-radius: 15px;
    box-shadow:4px 5px 10px 1px brown;
    opacity: 0.95;
    
}